body{
	background-color: #f8f8f3;
	display: flex;
	flex-direction:row;
	justify-content: center;
	align-items: center;
	font-family: RobotoBold,sans-serif;
}
.messageForm{
	
	display: flex;
	justify-content: center;
}
.messageForm>div{
	position: absolute;
	display: none;
}
.formError{
	z-index: 5;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 55px;
	position: relative;
	background-color: white;
	border: 4px solid #6e0609;
	font-size: 20px;
	padding: 25px;
}

.clearmessage{
	padding: 5px;
	display: inline;
	background-color: #be1116;
	color: white;
	border: 2px solid #be1116;
	cursor: pointer;
}
.clearmessage:hover{
	background-color: white;
	color: #be1116;
}
.messageError{
	z-index: 1;
	position: absolute;
	color: #94090d;
	font-size: 15px;
	margin-left: 150px;
	margin-top: 10px;
	display: none1;
}

form{
	background-color: white;
	font-size: 28px;
	padding: 20px;
	border: 4px solid #6e0609;
}
form div{
	margin: 10px;
	display: grid;
	grid-template-columns: 2fr 400px;
}
form div input{
	font-size: 25px;
}
span~input{
	background-color: #eeeee7;
	border:2px solid white/*#6e0609*/;		
	padding: 3px;
}
span~input:focus{
	background-color: #ffffff;
}
input::placeholder{
	color:#BCB3B3;
}
.inputError{
	/*background-color: #FEAAAA;*/
	border-color: #6e0609;
}
#sub{
	display: block;
	text-align: center;
	
}
#sub>input{
	padding: 10px;
	font-size: 20px;
	font-family: RobotoBold,sans-serif;
	background-color: #be1116;
	color: white;
	border: 2px solid #be1116;
}
#sub>input:hover{
	background-color: white;
	color: #be1116;
}
table{
	width: 100%;
	background-color: #6e0609;
}
th, td{
	padding: 5px;
}
th{
	background-color: #be1116;
	color: white;
}
td{
	background-color: white;
	color: #3d4b53;
}
@media (max-width: 1023px){
	body{
		display:block;
		margin: 0px;
		}
		body>div{
			width: 100%;

		}
	form{
		padding: 0;
		margin: 0;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	form div{
		font-size: 30px;
		margin: 0px;
		display: flex;
		flex-direction: column;
		margin: 5px;
	}
	form div input{
	font-size: 20px;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	}
	#sub>input{
	font-size:25px ;
	}
	.formError{
		font-size: 30px;
		top: ;
	}

}
@media (max-width: 795px){
	form div input{
		font-size: 18px;
	}
	table{
		display: block;
		position: relative;
		overflow: scroll;
	}
	.formError{
		font-size: 25px;
		top: 250px;
	}
}
.none{
	display: none;
}
